/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/*Barra de Scroll*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #0fa5d3bd;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0fa5d3bd;
}

section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about,  .works, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #0fa5d3;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #0fa5d3;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.navbar .logo a span{
    color: #0fa5d3;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #0fa5d3;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* Boton barras menú */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*Parte del banner*/
.start{
    display: flex;
    background: url("/images/banner.png") no-repeat center;
    width: 100%;
    background-color: black;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Century Gothic', sans-serif;
}
.start .max-width{
  width: 100%;
  display: flex;
}
.start .max-width .row{
  margin-right: 0;
}
.start .start-content #text-1{
    font-size: 27px;
}
.start .start-content #text-2{
    font-size: 75px;
    /*font-weight: 600;*/
    margin-left: -3px;
}
.start .start-content #text-3{
    font-size: 40px;
    margin: 5px 0;
}
.start .start-content #text-3 span{
    color: #0fa5d3;
    font-weight: 500;
}
.start .start-content a{
    display: inline-block;
    background: #0fa5d3;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 100px;
    border: 2px solid #0fa5d3;
    transition: all 0.3s ease;
}
.start .start-content a:hover{
    color: #0fa5d3;
    background: none;
}

/*Acerca de mi*/
.about .title::after{
    content: "Heey! ✌";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #0fa5d3;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 22px;
    margin-top: 20px;
    border-radius: 86px;
    border: 2px solid #0fa5d3;
    transition: all 0.3s ease;
}

#icons {
    font-size: 40px;
    letter-spacing: 6px;
  }

.fa-html5 {
    color: rgb(255, 115, 0);
  }
  
  .fa-css3-alt {
    color: rgb(12, 54, 240);
  }
  
  .fa-github {
    color: var(--color-icons);
  }
  
  .fa-js {
    color: yellow;
  }
  
  .fa-bootstrap {
    color: rgb(122, 0, 153);
  }

.about .about-content .right a:hover{
    color: #0fa5d3;
    background: none;
}

.about__title {
    color: #000;
    font-size: 32px;
    margin: 30px 0 15px;
  }
  
  #home::before { 
    display: block; 
    content: " "; 
    margin-top: -85px; 
    height: 85px; 
    visibility: hidden; 
    pointer-events: none;
  }
  
  #about::before { 
    display: block; 
    content: " "; 
    margin-top: -85px; 
    height: 85px; 
    visibility: hidden; 
    pointer-events: none;
  }



/*Inicio de cards*/
.works{
    color:#fff;
    background: #111;
}

.works .title::before{
    background: #fff;
}
.works .title::after{
    background: #111;
}

.works .title::after{
    content: "work, work..🎼";
}
.works .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 5px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.works .carousel .card:hover{
    background: #073746;
}
.works .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.works .carousel .card:hover .box{
    transform: scale(1.05);
}
.works .carousel .card .text{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.works .carousel .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0%;
    border: 2px solid #0fa5d3;
    transition: all 0.3s ease;
}
.projectdes{
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
.works .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #0fa5d3!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #0fa5d3!important;
}

/*Footer*/
.contact .title::after{
    content: "🤝";
}
.csocial {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    letter-spacing: 24px;
  }
  
  .csocial > .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px;
    /*margin-top: -20px;*/
  }
  
  .csocial > .fab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px;
  }
  
  footer > p {
    color: var(--color-icons);
    font-size: 26px;
    text-align: center;
    margin-top: -80px;
  }
  
  .footer__link {
    color: var(--color-icons);
    text-decoration: none;
    justify-content: center;
    align-items: center;
   /* margin-top: 20px;*/
  }
  
  .footer__link:hover{
    color: var(--color-icons);
  }

  /*Sitio responsivo*/

  @media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .column, .contact, .column{
        width: 100%;
        margin-bottom: 35px;
    }
    footer > p{
        margin-top: -105px;
        font-size: 20px;
    }
}

@media (max-width: 425px){
    #icons{
        font-size: 40px;
    }
   .works .title::after{
            color:#0fa5d3;
            background: #111;
            font-size: 14px;
        }
    .box .projectdes{
        font-size: 18px;
    }
    footer > p{
        margin-top: -95px;
        font-size: 15px;
    }
    .csocial{
        padding-top: 20px;
        font-size: 35px;
        padding-left: 30px;
    }
    .start .start-content #text-1{
        font-size: 22px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .start .start-content #text-2{
        font-size: 70px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .start .start-content #text-3{
        font-size: 34px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .about .max-width .title, h2{
        font-size: 35px;
    }
}

@media (max-width: 375px){
    #icons{
        font-size: 32px;
    }
   .works .title::after{
            color:#0fa5d3;
            background: #111;
            font-size: 14px;
        }
    .box .projectdes{
        font-size: 18px;
    }
    footer > p{
        margin-top: -108px;
        font-size: 15px;
    }
    .csocial{
        padding-top: 20px;
        font-size: 25px;
        padding-left: 30px;
    }
    .start .start-content #text-1{
        font-size: 16px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .start .start-content #text-2{
        font-size: 40px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .start .start-content #text-3{
        font-size: 25px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .about .max-width .title, h2{
        font-size: 35px;
    }
}

@media (max-width: 338px){
    #icons{
        font-size: 32px;
    }
   .works .title::after{
            color:#0fa5d3;
            background: #111;
            font-size: 14px;
        }
    .box .projectdes{
        font-size: 18px;
    }
    footer > p{
        margin-top: -108px;
        font-size: 15px;
    }
    .csocial{
        padding-top: 20px;
        font-size: 25px;
        padding-left: 30px;
    }
    .start .start-content #text-1{
        font-size: 16px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .start .start-content #text-2{
        font-size: 40px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .start .start-content #text-3{
        font-size: 25px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .about .max-width .title, h2{
        font-size: 35px;
    }
}

@media (max-width: 320px){
    #icons{
        font-size: 31px;
    }
   .works .title::after{
            color:#0fa5d3;
            background: #111;
            font-size: 12px;
        }
    .box .projectdes{
        font-size: 18px;
    }
    footer > p{
        margin-top: -108px;
        font-size: 15px;
    }
    .csocial{
        padding-top: 20px;
        font-size: 25px;
        padding-left: 30px;
    }
    .start .start-content #text-1{
        font-size: 12.4px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .start .start-content #text-2{
        font-size: 40px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .start .start-content #text-3{
        font-size: 21px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .about .max-width .title, h2{
        font-size: 30px;
    }
}

@media (max-width: 298px){
    #icons{
        font-size: 26px;
    }
   .works .title::after{
            color:#0fa5d3;
            background: #111;
            font-size: 10px;
        }
    .box .projectdes{
        font-size: 18px;
    }
    footer > p{
        margin-top: -108px;
        font-size: 15px;
    }
    .csocial{
        padding-top: 20px;
        font-size: 25px;
        padding-left: 30px;
    }
    .start .start-content #text-1{
        font-size: 13px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .start .start-content #text-2{
        font-size: 42px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .start .start-content #text-3{
        font-size: 21px;
        /*font-weight: 600;*/
        margin-left: -3px;
    }
    .about .max-width .title, h2{
        font-size: 28px;
    }
}

.conload{
    background-color: #000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader, .loader:before, .loader:after{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}

.loader{
    color: #0fa5d3bd;
    font-size: 14px;
    position: relative;
    animation-delay: -0.16s;
}

.loader:before, .loader:after{
    content: '';
    position: absolute;
    top: 0;
}
.loader:before{
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after{
    left: 3.5em;
}

@keyframes loader{
    0%,
    80%,
    100%{
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40%{
        box-shadow: 0 2.5em 0 0;
    }
}