@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #00AFD6;
  --bg: #1a1a1a;
  --text-light: #ffffff;
  --text-gray: #888888;
  --nav-bg: #242424;
  --card-bg: #242424;
}

[data-theme="light"] {
  /* Light Mode */
  --primary-color: #00AFD6;
  --bg: #ffffff;
  --text-dark: #1a1a1a;
  --text-light: #1a1a1a;
  --text-gray: #383838;
  --nav-bg: #f1f1f1;
  --card-bg: #f1f1f1;
}


/* Aseguramos buen contraste para las tarjetas */
.skill-card {
  background-color: var(--card-bg);
  color: var(--text-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Urbanist", sans-serif;
  background-color: var(--bg);
  color: var(--text-light);
}

.container, section, .side-nav {
  max-width: 100%;
  overflow: hidden;
}

/* Header Styles */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 1000;
}

.logo img {
  height: 30px;
}

.controls {
  display: flex;
  gap: 1rem;
}

.controls button {
  background: none;
  border: none;
  color: var(--text-light);
  cursor: pointer;
  padding: 0.5rem;
}



/* Side Navigation */
.side-nav {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  z-index: 999;
  background-color: var(--nav-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.side-nav ul {
  font-weight: 100;
  list-style: none;
  display: flex;
  gap: 2rem;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.side-nav li {
  padding: 0.5rem;
}

.side-nav a {
  position: relative;
  color: var(--text-light);
  text-decoration: none;
  font-size: .9rem;
  transition: color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.side-nav a::after {
  content: "";
  position: absolute; /* Añade esta línea */
  bottom: -5px; /* Añade esta línea */
  left: 0; /* Añade esta línea */
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease; /* Modifica la transición */
}


.side-nav a.active::after {
  width: 100%;
}

.side-nav a:hover,
.side-nav a.active {
  color: var(--primary-color);
  font-weight: 600;
}

/* Hero Section */
.hero-section {
  min-height: 100vh;
  padding: 80px 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.hero-content {
  flex: 1;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subtitle {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.description {
  color: var(--text-light);
  line-height: 1.6;
  margin-bottom: 2rem;
}

.social-links-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-links-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-gray);
}

.social-links-header hr {
  width: 6rem;
  border: none;
  border-top: 1px solid var(--text-gray);
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.social-links a {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s;
  color: var(--text-light);
}

.social-links a:hover {
  color: var(--primary-color);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 240px;
}

.image-container {
  position: absolute;
  width: 60%;
  height: 160%;
  background: linear-gradient(45deg, #0bbafb, #4285ec);
  border-radius: 50%;
  border: 6px solid #ffffff6e; /* Simula el "stroke" */
  animation: blobAnimation 20s ease-in-out infinite;
  overflow: hidden;
  z-index: 3;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes blobAnimation {
  0%, 100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  25% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  50% {
    border-radius: 50% 60% 30% 70% / 40% 70% 50% 60%;
  }
  75% {
    border-radius: 70% 40% 50% 30% / 30% 40% 60% 70%;
  }
}

/* About Section */
.about-section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about-header {
  text-align: center;
  margin-bottom: 3rem;
}

.about-header h2 {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
  color: var(--text-gray);
}

.about-header h3 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 4rem;
  align-items: start;
}

.about-image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.stat-card {
  background-color: var(--nav-bg);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
}

.stat-card i {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.stat-card h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.stat-card p {
  color: var(--text-gray);
}

.about-description {
  color: var(--text-gray);
  line-height: 1.6;
}

.about-description p {
  margin-bottom: 1rem;
}

.highlight {
  color: var(--primary-color);
}

.download-cv {
  text-transform: none;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--nav-bg);
  color: var(--bg-dark);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.download-cv:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-title {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
  text-align: center;
}

.about-text {
  flex: 2;
}

.about-text p {
  color: var(--text-gray);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.about-details {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-light);
}

.detail-item i {
  color: var(--primary-color);
  font-size: 1.2rem;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-image {
    max-width: 100%;
  }
}

/* Responsive Design */
@media (max-width: 968px) {
  .about-content {
    grid-template-columns: 1fr;
  }

  .about-image {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}

/* Skills Section */
.skills-section {
  padding: 4rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.section-header {
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
  color: var(--text-gray);
}

.section-header h3 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.skills-card {
  background-color: var(--card-bg);
  border-radius: 20px;
  padding: 2rem;
}

.skills-card h3 {
  color: var(--text-light);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1.5rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.skill-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.skill-item h4 {
  color: var(--text-light);
  font-size: 0.9rem;
  font-weight: 500;
}

.skill-item span {
  color: var(--text-gray);
  font-size: 0.8rem;
}

/* Skill Icons Colors */
.html i {
  color: #e44d26;
}
.css i {
  color: #1572b6;
}
.js i {
  color: #f7df1e;
}
.bootstrap i {
  color: #7952b3;
}
.github i {
  color: #ffffff;
}
.angular i {
  color: #dd0031;
}
.api i {
  color: #00e5be;
}
.react i {
  color: #61dafb;
}
.php i {
  color: #777bb4;
}
.node i {
  color: #339933;
}

/* Responsive Design */
@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: 1fr;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

  .skill-item h4 {
    font-size: 0.8rem;
  }

  .skill-item span {
    font-size: 0.7rem;
  }
}

/* Portfolio Section */
.work__item.active {
  color: var(--nav-bg); 
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  padding: .25rem .75rem;
  background-color: #00AEEF; /* Color resaltado */
}

/* Desktop Styles */
.portfolio-section-desk {
  display: block;
}

.portfolio-grid {
  max-width: 1350px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

/* Estilos para cada tarjeta */
.card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  aspect-ratio: 10 / 8;
  width: 100%;
  height: 350px;
  transition: transform 0.3s ease;
  background-color: var(--card-bg);
  color: var(--text-dark);
}

/* Estilos para la imagen dentro de la tarjeta */
.project-image {
  width: 100%;
  height: 100%; /* Ocupa todo el espacio de la tarjeta */
  object-fit: cover; /* Ajusta la imagen para cubrir el espacio */
  display: block; /* Elimina espacios no deseados debajo de la imagen */
}

/* Estilos para el overlay (contenido que aparece sobre la imagen) */
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow-y: auto; /* Permite desplazamiento si el contenido es largo */
}

/* Mostrar el overlay al pasar el mouse sobre la tarjeta */
.card:hover .project-overlay {
  opacity: 1;
}

.card:hover .project-image {
  transform: scale(1.05);
}

.project-title {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align:justify;
}

.project-description {
  color: #fff;
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.project-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: left;
  margin-bottom: 1.5rem;
}

.tool-chip-figma{
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  background-color: #595BD4;
}

.tool-chip-html{
  color: #ff4c1f;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  background-color: #92330a;
}

.tool-chip-css{
  color: #6291ff;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  background-color: #002bd6;
}

.tool-chip-javascript{
  color: #262626;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  background-color: #ffe23c;
}

.tool-chip-adobexd{
  color: #FF61F6;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  background-color: #470137;
}

.tool-chip-photoshop{
  color: #31A8FF;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  background-color: #001E36;
}

.tool-chip-after{
  color: #9999ff;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  background-color: #00005b;
}

.tool-chip-flutter{
  color: #5fc9f8;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  background-color: #065a9d;
}

.tool-chip-firebase{
  color: #FFC400;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  background-color: #DD2C00;
}

.tool-chip-apis{
  color: #3cff00;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  background-color: #00a223;
}


.project-link {
  color: var(--text-light);
  text-decoration: none;
  display: flex;
  align-items: left;
  gap: 0.5rem;
  border-radius: 5px;
}

.portfolio-section-mobile {
  display: none;
}

/* Aseguramos que las cards se centren si no llenan todo el espacio */
@media (min-width: 1200px) {
  .portfolio-grid {
    justify-content: center;
  }
}

/*Work Seccion*/
.section-header {
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
  color: var(--text-gray);
}

/* Filtros de proyectos */
.work__filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.work__item {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.work__item.active-work {
  background-color: var(--nav-bg);
  color: var(--bg-dark);
}

.work__item:hover {
  background-color: var(--nav-bg);
}

/* Estilos para el portafolio en desktop */
.portfolio-section-desk {
  display: block;
  padding: 2rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columnas */
  gap: 2rem; /* Espacio entre tarjetas */
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.card {
  background-color: var(--card-bg);
  color: var(--text-dark);
  width: 100%; /* Asegura que ocupe el 100% del espacio asignado */
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  aspect-ratio: 10 / 8; /* Proporción de la imagen */
  transition: transform 0.3s ease;
}

.project-image {
  width: 100%;
  height: 100%; /* Ocupa todo el espacio de la tarjeta */
  object-fit: contain; /* Ajusta la imagen para cubrir el espacio */
  border-radius: 15px;
  display: block; /* Elimina espacios no deseados debajo de la imagen */
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: white;
  padding: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card:hover .project-overlay {
  opacity: 1;
}

.card:hover .project-image {
  transform: scale(1.05); /* Efecto de zoom al hacer hover */
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-description {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.project-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.tool-chip-html, .tool-chip-css, .tool-chip-javascript, .tool-chip-adobexd, .tool-chip-photoshop, .tool-chip-after, .tool-chip-apis {
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
}

.tool-chip-html { background-color: #92330a; color: #ff4c1f; }
.tool-chip-css { background-color: #002bd6; color: #6291ff; }
.tool-chip-javascript { background-color: #ffe23c; color: #262626; }
.tool-chip-adobexd { background-color: #470137; color: #FF61F6; }
.tool-chip-photoshop { background-color: #001E36; color: #31A8FF; }
.tool-chip-after { background-color: #00005b; color: #9999ff; }
.tool-chip-apis { background-color: #00a223; color: #3cff00; }

.project-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #ccc;
}
/* Estilos para el portafolio en móvil */
.portfolio-section-mobile {
  display: none;
  padding: 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
}

.card-grid .card {
  background-color: var(--card-bg);
  color: var(--text-dark);
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-grid .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card-grid .card h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.card-grid .card p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.card-grid .card a {
  color: #007BFF;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.card-grid .card a:hover {
  color: #0056b3;
}

/* Estilos para la sección de contacto */
.contact-seccion {
  padding: 2rem;
  background-color: var(--nav-bg);
}

.parent-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.div-grid {
  background-color: var(--bg);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-social {
  font-size: 2rem;
  color: var(--primary-color);
}

.social-contact {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.text a {
  color: var(--text-light);
  text-decoration: none;
  transition: color 0.3s ease;
}

.text a:hover {
  color: #0056b3;
}

/* Estilos para el footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #ccc;
}

.footer__copy {
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {

  .side-nav {
    width: 90%; /* Ocupa más ancho en pantallas pequeñas */
    padding: 0.5rem 1rem; /* Reduce el padding */
    bottom: 10px; /* Ajusta la posición inferior */
  }

  .side-nav ul {
    gap: 1rem; /* Reduce el espacio entre elementos */
    justify-content: space-around; /* Distribuye el espacio uniformemente */
  }

  .side-nav a {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente */
  }

  .side-nav a i {
    font-size: 1.2rem; /* Ajusta el tamaño de los íconos */
  }

  .hero-section {
    flex-direction: column-reverse;
    padding: 60px 1.5rem 100px;
    width: 100%;
    gap: 2rem;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-image {
    width: 100%;
    height: 300px; /* Ajustamos la altura para asegurar que la imagen se vea completa */
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 240px; /* Ancho fijo para mantener la proporción */
    height: 80%; /* Altura completa del contenedor padre */
    position: relative;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    border-radius: 50% / 30%; /* Mantiene la forma ovalada */
  }

  .hero-content h1 {
    font-size: 2.9rem;
  }

  .portfolio-section-desk {
      display: none;
  }

  .portfolio-section-mobile {
    display: block;
    padding: 1rem;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.card {
  background-color: var(--card-bg);
  color: var(--text-dark);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    min-height: 480px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.2rem;
    margin: 0;
}

.card p {  
  color: var(--text-dark);
  text-align: justify;
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.4;
}

.card .project-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
}

.card .project-link {
    display: inline-block;
    margin-top: auto;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}

.card .project-link:hover {
    background-color: #0056b3;
}

  .parent-grid {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .side-nav {
    width: 100%; /* Ocupa todo el ancho */
    border-radius: 0; /* Sin bordes redondeados */
    bottom: 0; /* Pegada al fondo */
    padding: 0.5rem 0; /* Reduce el padding lateral */
  }

  .side-nav ul {
    gap: 0.5rem; /* Espacio mínimo entre elementos */
  }

  .side-nav a {
    font-size: 0.8rem; /* Fuente más pequeña */
  }

  .side-nav a i {
    font-size: 1rem; /* Tamaño de los íconos */
  }

  .side-nav a span {
    display: none; /* Oculta el texto en móviles pequeños */
  }
}